div#dropTarget{
	border-width: 3px;
	border-style: solid;
	width: 200px;
	height: 200px;
	text-align: center;
	display: table;
}

div#dropTargetText{
	display: table-cell;
	vertical-align: middle;
}